.profile-container{
    display: flex;
    /* margin-top: 100px; */
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
  }

  .profile-parent{
    display: flex;
    align-items: center;
    /* color:  illini-cloud */
    color: #F8FAFC;
  }

.profile-details-name{
    font-size: 24px;
    font-family: "Poppins SemiBold";
}

.profile-details-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
}

.profile-details-role h1{
    font-size: 40px;
    font-family: cursive;
}

.primary-text{
    color: (--white);
}

.highlighted-text{
    color: var(--illini-orange)
}

.profile-role-tagline{
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
}

.profile-options .highlighted-btn2{
    margin: 0 0 0 28px;
}

.profile-options .highlighted-btn2:hover{
    margin: 0 0 0 28px;
    background-color: #F8FAFC;
    color: var(--illini-orange);
}

.profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 0px 0px var(--illini-orange);
    border-radius: 50%;
    height: 350px;
    width: 350px;
    margin: 0 0px 0 100px;
}

.profile-picture-background{
    height: 100%;
    width: 100%;
    background-image: url('../../../public/profile2.png');
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-picture-background:hover{
    transform: scale(0.9);
    transition: 1s ease-in;
}

.colz2 .colz-icon2 i{
    color: #F8FAFC;
    padding: 8px;
    padding-left: 0px;
}

.colz2 .colz-icon2 i:hover{
    transform:scale(1.5);
}

@media screen and (max-width: 1110px) {
    .profile-picture{
        margin: 0 0px 0 80px;
    }
    .profile-details-name{
        font-size: 20px;
    }
    .profile-details-role .primary-text{
        font-size: 12px;
    }

    .profile-options .btn2{
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }
}

@media screen and (max-width: 910px) {
    .profile-picture{
        height: 320px;
        width: 320px;
        margin: 0 0px 0 4px;
    }
}

@media screen and (max-width: 810px) {
    .profile-picture{
        margin: 0 !important;
    }

    .profile-parent{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }

    .profile-options{
        display: flex;
        justify-content: space-between;
    }

    .profile-details{
        margin: 25px 0 0;
    }

    .profile-options .highlighted-btn2{
        margin: 0 !important;
    }

    .profile-options btn2{
        margin: 0 !important;
    }

    .profile-role-tagline{
        margin: 5px;
    }

    .profile-options .profile-details-role{
        text-align: center;
    }
}

@media screen and (max-width: 375px){
    .profile-picture{
        height: 275px;
        width: 275px;
        margin-top: -90px;
    }

    .profile-details{
        width: 90%;
    }
}